/* Sections */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
    padding: 4%;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 22%;
    margin-bottom: 5%;
    background-color: #ffde35;
    border-radius: 55px;
}

.section-2 {
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-bottom: 5%;
}

.one {
    display: inline-block;
    background-color: #ffde35;
    width: 100%;
    position: fixed;
    margin-top: -22%;
    overflow: auto;
    height: 25%;
    z-index: 1;
}

.topnav {
  overflow: hidden;
  background-color: #ffde35;
    display: inline-block;
    position: fixed;
    right: 9%;
    margin-top: 7%;
}

.topnav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  color: black;
}


.topnav .icon {
  display: none;
}


/*
@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
}

*/


.services {
    background-color: #ffde35;
    float: left;
    width: 25%;
    margin: auto;
    margin-left: 6%;
    border-radius: 55px;
}


footer {
    display: flex;
    background-color: #ffde35;
    width: 100%;
    margin: auto;
    justify-content: center;
    
}

.faq {
    background-color: #ffde35;
    width: 80%;
    margin: auto;
    border-radius: 55px;
    margin-bottom: 2%;
}

.faqtitle {
    text-align: center;
    padding-top: 2%;
}

.faqanswer {
    text-align: left;
    padding-left: 10%;
    padding-bottom: 1%;
    font-size: 20px;
}


.contact {
  border-radius: 55px;
  background-color: #ffde35;
  padding: 2%;
 width: 50%;
margin: auto;
    margin-bottom: 5%;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border-radius: 55px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    border-style: none;
    font-size: 14px;
}


input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 55px;
  cursor: pointer;
    font-size: 20px;
    display: block;
    margin: auto;
    width: 50%;
}

input[type=submit]:hover {
  background-color: red;
color: black;
}

textarea::placeholder {
    text-align: center;
}

textarea {
    padding-left: 5%;
}


.aboutsection {
    position: relative;
    margin: auto;
    display: block;
    margin-bottom: 35%;
}








/* Images */

.aalogo {
    border-radius: 50%;
    max-height: 250px;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    float: left;
    display: inline-block;
    border-style: solid;
    border-color: red;
    position: fixed;
}

.servimg {
    width: 75%;
    display: block;
    margin: auto;
    border-radius: 50%;
    
}

.footerlogo {
    max-height: 250px;
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    left: 4%;
}

.sociallogo {
    padding-left: 6%;
    padding-top: 2%;
    max-width: 60px;
    max-height: 60px;
    height: auto;
}

.aboutimg {
    max-height: 400px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    border-style: solid;
    border-color: red;
    margin-left: 15%;
}



/* Text */

.tax {
    margin: auto;
    width: 80%;
    padding: 2%;
    line-height: 1.2em;
    border-radius: 25%;
    text-align: center;
    color: red;
    font-size: 65px;
}

    


.servtitle {
    text-align: center;
}

p {
    margin-right: 7%;
    display: inline-block;
    text-align: right;
    font-size: 20px;
}



.abouttext {
    float: left;
    width: 35%;
    padding-left: 5%;
    padding-right: 2%;
    text-align: left;
    margin-bottom: 4%;
}

.foottitle {
    text-decoration: underline;
    font-size: 28px;
}


.clientp {
    text-align: left;
    padding-left: 10%;
    padding-bottom: 3%;
    font-size: 22px;
    padding-top: 3%;
}


#countdown {
    font-size: 25px;
    margin: auto;
    display: inline-block;
    
}

#taxday {
    font-size: 25px;
    margin: auto;
    padding-right: 3%;
    margin-left: auto;
    margin-right: auto;
    
}

#taxesdue {
    background-color: #ffde35;
    display: block;
    text-align: center;
    border-style: solid;
}




/* Buttons */

.servbutton {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    background-color: red;
    padding: 5% 20%; 
    border-radius: 50%;
    border-style: none;
    color: white;
}

.servbutton:hover {
    font-size: 20px;
}



/* Responsiveness */


/* Desktops */
@media (min-width: 1025px) {
    .one {
    margin-top: -20%;
}
    
    .section-1 {
    margin-top: 20%;
}
    
    .tax {
    font-size: 45px;
}
    .footerlogo {
    max-height: 200px;
}
    
  .foottitle {
    font-size: 20px;
}  
    
    p {
    font-size: 14px;
}
    
    .aboutimg {
    max-height: 300px;
    margin-left: 20%;
}

 .aalogo {
    max-height: 270px;
    margin-top: 5%;
    margin-left: 5%;
}

.topnav {
    right: 5%;
    margin-top: 7%;
}

}

/* Small Screens, laptops */
@media (max-width: 1024px) and (min-width: 769px) {
    
    .one {
    margin-top: -30%;
}
    
    .section-1 {
    margin-top: 30%;
}
    
    .tax {
    font-size: 45px;
}
    .footerlogo {
    max-height: 200px;
    left: 7%;
}
    
  .foottitle {
    font-size: 20px;
}  
    
    p {
    font-size: 14px;
}
    
    .aboutimg {
    max-height: 300px;
    margin-left: 10%;
}

 .aalogo {
    max-height: 200px;
    margin-top: 5%;
    margin-left: 5%;
}

.topnav {
    right: 0;
    margin-top: 5%;
}
    
    .aboutimg {
    max-height: 300px;
    display: inline-block;
}

    .clientp {
    font-size: 18px;
}
    
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {    
    .aalogo {
    max-height: 100px;
    margin-top: 5%;
}

    .topnav a {
        display: none;
    }


.topnav {
    right: 0;
    margin-top: 0;

}

  .topnav a.icon {
    float: right;
    display: inline-block;
      font-size: 16px;
  }

    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
      font-size: 12px;
  }

    .topnav.responsive a:first-child {
        padding-top: 70%;
    }

    .topnav a:first-child {
        font-size: 14px;
        padding-top: 12%;
    }


    body {
        max-width: 768px;
    }

     footer {
        max-width: 768px;
    }

      .foottitle {
    font-size: 12px;
}  

    p {
    font-size: 8px;
    margin-right: 2%;
    }
        
    
    .footerlogo {
    max-height: 100px;
    margin-top: 4%;
}

     .tax {
    font-size: 25px;
}

        .one {
    margin-top: -35%;
    height: 80px;
}

    .section-1 {
    margin-top: 35%;
}
    .sociallogo {
    padding-top: 4%;
    max-width: 40px;
    max-height: 40px;
}

    .services {
    width: 75%;
    margin: auto;
    float: none;
    padding-bottom: 1%;
}

    .servtitle {
    font-size: 20px;
        padding-top: 5%;
}

    .servbutton {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5% 20%;
}

    .contact {
    padding-top: 9%;
    width: 75%;
}
    textarea {
    padding-left: 8%;
}

    .aboutimg {
    max-height: 200px;
        float: none;
        display: block;
        margin: auto;
}

    .abouttext {
    width: 70%;
        float: none;
    text-align: center;
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 13%;
}

.aboutsection {
    margin-bottom: 10%;
}

.clientp {
    font-size: 16px;
}
    
    
    
}



/* Phones */
/**/

@media (max-width: 480px) {
        .aalogo {
    max-height: 100px;
    margin-top: 5%;
}

    .topnav a {
        display: none;
    }


.topnav {
    right: 0;
    margin-top: 0;

}

  .topnav a.icon {
    float: right;
    display: inline-block;
      font-size: 16px;
  }

    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
      font-size: 12px;
  }

    .topnav.responsive a:first-child {
        padding-top: 70%;
    }

    .topnav a:first-child {
        font-size: 14px;
        padding-top: 12%;
    }


    body {
        max-width: 480px;
    }

     footer {
        max-width: 480px;
    }

      .foottitle {
    font-size: 12px;
}  

    p {
    font-size: 8px;
    margin-right: 2%;
    }
        
    
    .footerlogo {
    max-height: 100px;
    margin-top: 4%;
    left: 10%;
}

     .tax {
    font-size: 25px;
}

        .one {
    margin-top: -35%;
    height: 80px;
}

    .section-1 {
    margin-top: 35%;
}
    .sociallogo {
    padding-top: 4%;
    max-width: 40px;
    max-height: 40px;
}

    .services {
    width: 75%;
    margin: auto;
    float: none;
    padding-bottom: 1%;
}

    .servtitle {
    font-size: 20px;
        padding-top: 5%;
}

    .servbutton {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5% 20%;
}

    .contact {
    padding-top: 9%;
    width: 75%;
}
    textarea {
    padding-left: 8%;
}

    .aboutimg {
    max-height: 200px;
        float: none;
        display: block;
        margin: auto;
}

    .abouttext {
    width: 70%;
        float: none;
    text-align: center;
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 13%;
}

.aboutsection {
    margin-bottom: 10%;
}

 .faq {
        padding: 2%;
    }

input[type=submit] {
        margin-top: 5%;
        background-color: red;
    }

.clientp {
    font-size: 14px;
}





}


